.skills{

    /* background: 
        linear-gradient(
        to right, rgb(0 0 0 /.8),rgb(0 0 0 /0)
        ), url('../../assets/img\ 9.svg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding-bottom: 20px;
     */

}

.allSkills{
    width: 300px;
}