/* .skill {

     display: inline-block;

     h1 {
          visibility: hidden;
          color: brown;
          width: 150px;
          font-size: 28px;
          
     }
} */

.skill {
     h3 {
          visibility: hidden;
     }
}




.skill:hover {

     img {
          scale: 1.2;
          position: relative;
          bottom: 20px;
     }

     h3 {
          visibility: visible;
          color: rgb(0, 0, 0);
          font-weight: bolder;
     }
}