.contactmeform{
background: url(../../assets/Bg-1.jpg) center center;
background-size: cover;
     width: 75%;
     /* border: 1px solid rgb(255, 187, 0); */
     backdrop-filter: blur(5px);

     input{
          border: 1px solid rgb(10, 10, 10);
     }

     button{
          border: 1px solid rgb(238, 235, 235);
     }
}

.contactmeform:hover{
     

     button{
          background-color: seagreen;
     }
}

@media screen and (max-width:1000px) {
     .contactmeform{

          width: 100%;
     }
}