* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;


  background-color: rgb(255, 255, 255);
  /* background-image: url(./assets//img\ 9.svg);
  background-position: center;
  background-repeat: repeat; */
  color: rgb(0, 0, 0);

  text-align: center;
  padding: 0px;
  padding-top: 0px;
  filter: blur(0.1);
  scroll-behavior: smooth;
  scrollbar-width: 1px;
}


.title {
  color: rgb(253, 80, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 0px;
  margin: 0;
}

.commanbg {
  background: rgb(233, 233, 233);
  background: linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(243, 244, 243, 0.9640231092436975) 100%, rgba(0, 233, 233, 1) 100%);

}