/* .projects{

    background: 
    linear-gradient(
        to right, rgb(0 0 0 /.8),rgb(0 0 0 /0)
    ), url('../../assets/img\ 9.svg')
    ;
    
    background-repeat: repeat-y;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
    padding-bottom: 50px; 


} */